<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" style="width:100%">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="...">
      </a>
      <%= link_to "Sign In", new_user_session_path, class:"btn btn-default navbar-btn" %>
      <%= link_to "Video", videos_path, class:"btn btn-default navbar-btn" %>
      <%= link_to "Person", people_path, class:"btn btn-default navbar-btn" %>
    </div>
  </div>
</nav>
